body {
  font-family:Montserrat, sans-serif;
}

.container {
  margin-top:5%;
}

#currentTemp {
  font-size:64px;
  line-height:1;
}

#summary {
  padding-bottom:30px;
}

#title {
  font-size:36px;
}

#locationInput {
  margin-bottom:10px;
  width:350px;
  padding-left: 10px;
}

#lat,#long {
  font-size:12px;
}

#lookupButton {
  width:350px;
}
